html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    min-height: calc(100vh - 200px);
    padding-bottom: 200px;
}

footer {
    position: absolute;
    /*页脚置底: 0;*/
    height: 200px;
    width: 100%;
}

