.container {
    display: flex;
    width: 500px;
    height: 200px;
    background-color: #004EE6;
}

.item1 {
    background-color: azure;
    /*设置生长属性*/
    /*属性默认值 flex-grow(生长属性默认为0) flex-shrink(缩小属性默认为1) flex-base(基础属性默认 auto)*/
    flex-basis: 200px;
    flex-shrink: 0;
    /*flex-grow: 1;*/
}

.item2 {
    background-color: lemonchiffon;
    flex-basis: 200px;
    flex-shrink: 0;
    /*flex: 1;*/
}

.item3 {
    flex-basis: 200px;
    background-color: cadetblue;
    flex-shrink: 0;
}